# m h  dom mon dow   command
0 0 * * * php /path/to/karma8 check_email_enqueue # enqueue emails to check
0 0 * * * php /path/to/karma8 email_notification_enqueue 1 # enqueue email notification before 1 days
0 0 * * * php /path/to/karma8 email_notification_enqueue 3 # enqueue email notification before 3 days

* * * * * php /path/to/karma8 check_email_worker # check emails worker
* * * * * php /path/to/karma8 email_notification_worker 8 1 # email notification before 1 days with 8 workers
* * * * * php /path/to/karma8 email_notification_worker 8 3 # email notification before 3* days with 8 workers